<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular JS | Welcome</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script></head>
<body ng-app="">
<h2>Hello Angular 10</h2>
Your Name: <input type="text" ng-model="name"> <br><br>
{{'Welcome ' + name | uppercase }}
<br><br>
{{'Welcome ' + name | lowercase }}
<br><br>
Income: <input type="text" ng-model="income"> <br><br>
{{income  | currency:"THB. ": 2}}
<div>

</div>
<script src="http://localhost:35729/livereload.js?snipver=1"></script>
</html>